@charset "gb2312";
/* CSS Document */


BODY {
	font-family:"Microsoft YaHei";
	background:#fff;
	min-width:1020px;
	color:#666;
}
DIV {
	margin:0px; padding:0px;
}
FORM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
UL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
LI {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
UL {
	LIST-STYLE-TYPE: none
}
LI {
	LIST-STYLE-TYPE: none
}
img{ border:0px;}
A:link {
	color: #666; TEXT-DECORATION: none; outline-style: none;text-decoration:none;
}
A:visited {
	color: #666;; TEXT-DECORATION: none; outline-style: none;text-decoration:none;
}
A:hover {
	color: #666;; TEXT-DECORATION: underline;text-decoration:none;}
li{ list-style:none;}
*{ margin:0px; padding:0px;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}

.outter{margin:0 auto;width:1110px;}
.content01{width:1110px;overflow:hidden;}
.content01 ul{width:1200px;}
.wrapper{width:100%;}
.clear{clear:both;width:0;height:0;}




















































































































